<mtapp:setting
  id="max_image_width"
  label="<__trans phrase="Max Image width">"
  >
    <input type="text" name="max_image_width" name="max_image_width" value="<mt:var name="max_image_width">" style="width:8em;" /> px
</mtapp:setting>
